:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color_op: rgba(55, 75, 87, 0.7);
  --dark-color: rgba(51, 51, 51, 1);
  --blue:#c8e5f3;  
}
html{
  font-size: 62.5%;
}
.all{
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: calc(0.6vh + 0.6vw + 1rem);
}
/* ---------nav bar---------- */
.navbar{
  height:calc(7vh + 3.5rem);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vh;
  background: var(--dark-color_op);
  flex-shrink: 60px;
}
.navbar > img{
  height: calc(5vh + 4rem);
  object-fit: cover;
}
.navbar div a:first-child{
  border:0px solid var(--primary-color);
  border-radius: 2rem;
  padding: 1rem 4rem;
  background: var(--blue); 
}   
.navbar div a{
  text-decoration: none;
  padding: 1rem 3rem;
  margin: 0.5rem 0.5rem;
  color: var(--secondary-color);
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.navbar div a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: var(--secondary-color);
  transform: translateX(-101%);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}
.navbar div a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: var(--secondary-color);
  transform: translateX(101%);
  transform-origin: right;
  transition: all 0.3s ease-in-out;
}
.navbar div a:hover{
  color: var(--primary-color);
  background: var(--blue);
  border-radius: 2rem;
}
.navbar div a:hover::before {
  content: "";
  transform: translateX(0%);
}
.navbar div a:hover::after {
  content: "";
  transform: translateX(0);
}
/* -------------------------------------------- */
